{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finches List</h1>
  <img src="{% static 'images/gold.png' %}" alt="A gold finch" />
  <img src="{% static 'images/green.png' %}" alt="A green finch" />
  <img src="{% static 'images/house.png' %}" alt="A house finch" />
  <img src="{% static 'images/purple.png' %}" alt="A purple finch" />
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <a href="{% url 'finch-detail' finch.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/finch.png' %}" 
              alt="A blue finch"
            >
          </div>
          <h2 class="card-title">{{ finch.name }}</h2>
          <p>A {{ finch.species }} with vibrant {{ finch.color }} plumage</p>
          <p><small>They have a wingspan of {{ finch.wingspan }} centimeters and an average lifespan of {{ finch.lifespan }} years</small></p>
          {% if finch.is_migratory == True %}
            <p><small>{{ finch.name }} prefers to embark on seasonal journeys to different regions, <br> as migratory behavior is a characteristic trait of {{ finch.species }}</small></p>
          {% else %}
            <p><small>{{ finch.name }} prefers to stay in one location throughout the year</small></p>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}